
/CMakeFiles
/fts_autogen
fts.app
/tests
/validate_indicators_autogen
.qmake.stash
cmake_install.cmake 
CMakeCache.txt
fts
Makefile
moc_mainwindow.cpp
moc_predefs.h
qt5.rb
test.h
testing.cc 
validate_indicators
.vscode
moc_mainwindow.o
.DS_Store